body {
    background-color: white;
}

h1 {
    padding: 10px;
    font-weight: bold;
    position: relative;
    right: 5px;
    bottom: 14px;
}

h3 {
    color: rgb(121, 121, 121);
    position: relative;
    right: -2px;
    bottom: 38px;
}

p {
    color: rgb(121, 121, 121);
    position: relative;
    right: -9px;
    bottom: 30px;
}

.cont {
    display: flex;
    height: 300px;
    width: 100%;
    background-color: honeydew;
}

ul.ps {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(214, 211, 211);
}

li.pd {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

.a {
    position: relative;
    right: 13px;
    bottom: -46px;
    border-left: solid 5px red;
    margin: 40px;
}

.b {
    width: 480px;
    height: 264px;
    border-radius: 48px;
    border: solid;
    background-color: red;
    position: relative;
    right: -730px;
    bottom: 245px;
}

.con {
    width: 287px;
    height: 227px;
    position: relative;
    right: 62px;
    bottom: -13px;
}

.add {
    width: 80px;
    height: 80px;
    position: relative;
    right: 25px;
    bottom: 47px;
}

.fb {
    width: 42px;
    height: 35px;
    position: relative;
    right: -465px;
    bottom: 191px;
}

.tw {
    width: 45px;
    height: 34px;
    position: relative;
    right: -541px;
    bottom: 191px;
}

.ig {
    width: 45px;
    height: 34px;
    position: relative;
    right: -630px;
    bottom: 192px;
}

.ft {
    position: relative;
    right: 2px;
    bottom: -22px;
}